/* variables */

:root {
    --black-shade: #312f2f;
    --green-shade: #84dccf;
    --blue-shade: #a6d9f7;
    --gray-shade: #bccce0;
    --brown-shade: #bf98a0;
    --items-color: #304db2;
}

/* selecting all elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
    /* letter-spacing: 0.6px; */
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
    cursor: default;
}

/* selecting particular type of elements */

a {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #304db2;
    scale: 1.02;
}

/* classes for font family */

.poppins {
    font-family: Poppins, sans-serif;
}

.varela {
    font-family: Varela, sans-serif;
}

/* styles for document & body */

html {
    width: 100%;
}

body {
    min-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -------------------------- Header starts here --------------------------- */

header {
    background-color: rgb(243, 243, 243);
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    position: relative;
    z-index: 1;
}

.header-logo:hover {
    scale: 1;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: var(--items-color);
}

.header-logo-title {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.header-right-desktop-item {
    display: flex;
    gap: 35px;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 1.3vw;
}

.header-3dot-div {
    display: none;
}

/* -------------------------- Header ends here --------------------------- */


/* -------------------------- Mobile nav starts here --------------------------- */

.mobile-nav {
    padding: 30px 20px;
    height: 100%;
    width: 80%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4vh;
    position: fixed;
    top: 0px;
    right: -350px;
    background-color: #fff;
    box-shadow: rgba(147, 147, 147, 0.4) 0px 1px 15px 1px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.mobile-nav-top {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;
}

.mobile-nav-top-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav-top-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.mobile-nav-hr {
    width: 100%;
}

.mobile-nav-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
}

.mobile-nav-links>a {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 10px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.mobile-nav-links>a:hover {
    background-color: #304db2;
    color: white;
}

.mobile-nav-link-active-page {
    background-color: #304db2;
    color: white;
}

/* -------------------------- Mobile nav ends here --------------------------- */


/* -------------------------- Desktop nav starts here --------------------------- */

nav {
    height: 65px;
    width: 100%;
    padding: 0px 30px;
    position: sticky;
    top: -2px;
    z-index: 2;
    background-color: #f9f9f9;
    box-shadow: rgba(147, 147, 147, 0.5) 0px 15px 15px -11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav i {
    color: var(--items-color);
}

.search-expanded-div {
    position: absolute;
    right: 20px;
    border-bottom: 2px solid var(--items-color);
    height: 50%;
    width: 220px;
    display: flex;
    align-items: center;
    gap: 5px;
    visibility: hidden;
}

.nav-search-box {
    height: 100%;
    width: 85%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0px 0px 0px 5px;
    letter-spacing: 1.5px;
    display: flex;
}


/* -------------------------- Desktop nav ends here --------------------------- */


/* -------------------------- Hero Section starts here --------------------------- */

#hero-section {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: calc(100vh - 140px);
    position: relative;
    background-color: #fafafa;
}

#hero-section:hover {
    scale: 1 !important;
}

.hero-section-main-div {
    display: flex;
}

.hero-section-left {
    padding: 20px 10px;
    width: 100%;
    min-width: 45vw;
    max-width: 600px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section-left-text {
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.hero-left-suptext {
    opacity: 0.5;
    line-height: 2;
    font-size: 1.5rem;
}

.hero-left-text {
    font-size: 3.5rem;
    font-weight: 900;
    background: linear-gradient(to right, rgb(54, 54, 54), rgb(129, 129, 129));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.hero-section-left-courses-link {
    display: flex;
    gap: 10px;
    padding: 20px 0px;
    font-size: 0.9rem;
}

.hero-section-right {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section-swipe-div {
    padding: 0px 0px 20px 0px;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    opacity: 0.75;
}

/* -------------------------- Hero Section ends here --------------------------- */


/* -------------------------- Second Section ends here --------------------------- */

.second-section {
    padding: 75px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.second-section-top {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.second-section-text-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.second-section-upper-label {
    opacity: 0.6;
}

.second-section-upper-title {
    font-size: 2.2rem;
    font-weight: 500;
}

.second-section-cards-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.second-section-cards-desc {
    text-align: center;
    padding: 0px 25px;
    opacity: 0.6;
}

.second-section-cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.second-section-card {
    min-height: 320px;
    width: 300px;
    padding: 35px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    box-shadow: rgba(147, 147, 147, 0.4) 0px 1px 15px 1px;
    border-radius: 6px;
    transition: all 0.25s ease-in-out;
}

.second-section-card:hover {
    scale: 1.018;
    transform: translateY(-6px);
}

.second-section-card>img {
    border-radius: 6px;
    width: 100%;
    height: 150px;
}

.second-section-card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    max-width: 90%;
}

.second-section-card span {
    line-height: 1.5;
}

.second-section-card-title {
    font-size: 1.3rem;
}

.second-section-card-desc {
    font-size: 0.9rem;
    opacity: 0.6;
}

.second-section-enroll-btn {
    margin: 15px 0px;
    width: 120px;
    height: 42px;
    background-color: #4b64bb;
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
    transition: all 0.1s ease-in;
}

.second-section-enroll-btn:hover {
    background-color: #00438f;
    color: white;
}

.second-section-bottom {
    padding: 70px 0px;
    box-shadow: rgba(147, 147, 147, 0.4) 0px 1px 15px 1px;
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    border-radius: 4px;
}

.second-section-bottom-right {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 40%;
}

.second-section-bottom-right-title-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.second-section-bottom-right-label {
    opacity: 0.6;
}

.second-section-bottom-right-title {
    line-height: 1.2;
    font-weight: 550;
    font-size: 1.6rem;
    opacity: 0.9;
    color: transparent;
    background: linear-gradient(to right, rgb(54, 54, 54), rgb(129, 129, 129));
    -webkit-background-clip: text;
    background-clip: text;
}

.second-section-bottom-right-link-div {
    display: flex;
    gap: 25px;
}

.second-section-bottom-right-link-div>a {
    padding: 2px 0px;
    opacity: 0.8;
    color: #126eb9;
}

.second-section-bottom-right-link-div>a:hover {
    color: #003e71;
}

.second-section-bottom-right-desc-div {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
    opacity: 0.65;
}

.second-section-bottom-right-desc-div>* {
    line-height: 1.5;
}

.second-section-bottom-price-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.second-section-bottom-price-div>hr {
    width: 90%;
    opacity: 0.4;
}

.second-section-bottom-price-div-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.second-section-bottom-price-div-text>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.second-section-bottom-new-price {
    font-size: 1.2rem;
    letter-spacing: 0.2px;
}

.second-section-bottom-old-price {
    font-size: 1rem;
    text-decoration: line-through;
}

.second-section-bottom-discount {
    font-size: 1rem;
    color: green;
}

.second-section-bottom-tax {
    font-size: 0.8rem;
    opacity: 0.65;
}

.second-section-bottom-btn {
    width: 150px;
    height: 45px;
    background-color: transparent;
    transition: all 0.1s ease-in;
    outline: none;
}

.second-section-bottom-btn:hover {
    background-color: #312f2f;
    color: white;
}

/* -------------------------- Second Section ends here --------------------------- */


/* ---------------------------- Third section starts here ------------------------------- */

.third-section {
    padding: 75px 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
}

.third-section-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    width: 100%;
    max-width: 950px;
}

.third-section-inner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.third-section-inner-text-label {
    opacity: 0.75;
    letter-spacing: 1px;
}

.third-section-inner-text-title {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.third-section-inner-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.third-section-inner-card {
    padding: 16px 0px 0px 0px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    transition: all 0.25s ease-in-out;
}

.third-section-inner-card:hover {
    box-shadow: rgba(147, 147, 147, 0.4) 0px 1px 15px 1px;
}

.third-section-inner-card>img {
    width: 85%;
}

.third-section-inner-card-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: white;
    padding: 18px 25px;
    box-shadow: rgba(147, 147, 147, 0.4) 0px 1px 12px 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.third-section-inner-card-title {
    letter-spacing: 1px;
    font-weight: 420;
}

.third-section-inner-card-desc {
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    line-height: 1.4;
    opacity: 0.8;
}

/* ------------------ Third section ends here ------------------- */


/* ----------------- Forth section starts here -------------------- */

.forth-section {
    width: 100%;
    max-width: 1200px;
    padding: 0px 15px 150px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forth-section-video-div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px 50px 0px;
    flex-wrap: wrap;
    gap: 20px;
}

.forth-section-video-div>video {
    min-width: 280px;
    max-width: 500px;
    border-radius: 13px;
}

.forth-section-images-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 0px;
}

.forth-section-images-div>img {
    width: 250px;
}

.forth-section-text-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px 30px 0px;
    gap: 10px;
}

.forth-section-text-label {
    opacity: 0.75;
}

.forth-section-text-title {
    font-size: 1.4rem;
    font-weight: 450;
    letter-spacing: 0.8px;
}

.forth-section-project-cards-div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 60px 0px;
}

.forth-section-project-card {
    margin: 0px 0px 30px 0px;
    position: relative;
    min-width: 265px;
    max-width: 320px;
    width: 95%;
    height: 310px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
}

.forth-section-card-1 {
    background-image: url("../public/images/online-store.jpeg");
    background-position: top;
    border: 2px solid #eeeeee;
}

.forth-section-card-2 {
    background-image: url("../public/images/OIP.jpeg");
}

.forth-section-card-3 {
    background-image: url("../public/images/Image_5.webp");
}

.forth-section-project-card:hover {
    .forth-section-project-card-inner {
        opacity: 1;
    }
}

.forth-section-project-card-inner {
    width: 240px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(147, 147, 147, 0.4) 0px 1px 20px 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 0.5px;
    transition: all 0.25s ease-in-out;
    opacity: 0;
    /* Initial state - opacity is set to 0*/
}

.forth-section-inner-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.forth-section-card-label {
    font-size: 0.9rem;
    opacity: 0.6;
}

.forth-section-card-title {
    font-size: 1.2rem;
}

.forth-section-card-date {
    font-size: 0.85rem;
    opacity: 0.6;
}

.forth-section-card-desc {
    opacity: 0.75;
    font-size: 1rem;
    letter-spacing: 0.8px;
    line-height: 1.3;
}

.forth-section-card-link {
    color: #126eb9;
    font-size: 0.9rem;
    opacity: 0.8;
    text-decoration: underline;
    padding-bottom: 10px;
}

/* -------------------------- Forth section ends --------------------------- */


/* -------------------------- Footer starts --------------------------- */

footer {
    background-color: #eeeeee;
    width: 100%;
    letter-spacing: 0.8px;
}

.footer-upper {
    padding: 60px 20px 50px 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
}

.footer-column-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
}

.footer-column1 {
    gap: 30px;
}

.footer-logo-column-desc-div {
    padding: 0px 10px;
    font-size: 0.95rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 280px;
}

.footer-logo-column-desc-div>span {
    letter-spacing: 1px;
    line-height: 1.5;
    opacity: 0.65;
}

.footer-logo-column-contact-div {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer-logo-column-contact-div>span {
    font-size: 0.95rem;
    line-height: 1.5;
    letter-spacing: 1px;
    opacity: 0.8;
}

.footer-link-column {
    display: flex;
    align-items: center;
}

.footer-link-column>div {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-column-links-title {
    font-size: 1.1rem;
    opacity: 0.9;
}

.footer-column-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 0.95rem;
    opacity: 0.8;
}

.footer-subs-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    max-width: 300px;
}

.footer-subs-column-title {
    font-size: 1.1rem;
    opacity: 0.9;
}

.footer-subs-input-div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-subs-input-desc {
    font-size: 0.95rem;
    opacity: 0.8;
}

.news-letter-form {
    display: flex;
    align-items: center;
    gap: 5px;
}

.newsletter-email-input {
    border: none;
    outline: none;
    height: 38px;
    width: 200px;
    border-radius: 4px;
    padding: 0px 10px;
}

.newsletter-email-submit-btn {
    height: 38px;
    padding: 0px 20px;
    background-color: #126eb9;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    transition: all 0.15s ease-in-out;
}

.newsletter-email-submit-btn:hover {
    background-color: #00438f;
}

.message-box-bottom {
    align-self: center;
    padding: 12px 25px;
    background-color: #bae7d2;
    color: #0a944a;
    border-radius: 4px;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    transition: all 0.2s ease-in-out;
    font-size: 0.95rem;
    text-align: center;
    display: none;
    /* initial state is display none */
}

.footer-lower {
    height: 50px;
    width: 100%;
    background-color: #3f3f3f;
    color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

/* ---------------------------- Footer ends ------------------------------- */


/* ---------------------------- Fifth section starts ------------------------------- */

.fifth-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fifth-section-inner {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
    padding: 80px 15px 50px 15px;
}

.fifth-section-inner-left {
    padding: 20px 0px;
    width: 95%;
    max-width: 410px;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    letter-spacing: 0.8px;
}

.fifth-section-inner>a {
    width: 95%;
    max-width: 420px;
    min-width: 260px;
    padding: 40px 0px;
}

.fifth-section-inner>a>img {
    width: 100%;
    padding: 30px 0px;
    border-radius: 6px;
    box-shadow: rgba(147, 147, 147, 0.4) 0px 1px 15px 1px;
}

.fifth-section-inner>a:hover {
    scale: 1.005;
    transform: translateY(-6px);
}

.fifth-section-inner-left-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fifth-section-inner-left-label {
    opacity: 0.6;
}

.fifth-section-inner-left-title {
    font-size: 2rem;
    opacity: 0.95;
    line-height: 1.3;
    font-weight: 550;
    color: transparent;
    background: linear-gradient(to right, rgb(71, 71, 71), rgb(129, 129, 129));
    background-clip: text;
    -webkit-background-clip: text;
}

.fifth-section-inner-left-desc {
    line-height: 1.5;
    max-width: 90%;
    opacity: 0.65;
}

.fifth-section-inner-left-cards-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fifth-section-inner-left-card {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.fifth-section-inner-left-card-title-div {
    height: 48px;
    padding: 0px 20px;
    border: 2px solid #eeeeee;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #4c4c4c;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
    transition: all 0.25s ease-in-out;
}

.fifth-section-inner-left-card-title {
    opacity: 0.88;
}

.fifth-section-inner-left-card-desc-div {
    height: 0px;
    border: 2px solid transparent;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    font-size: 0.85rem;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
}

.fifth-section-inner-left-card-desc {
    line-height: 1.4;
    opacity: 0.8;
}

.expanded-div {
    height: 100px;
    border: 2px solid #eeeeee;
}

.expand-div-clicked {
    background-color: #eeeeee;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* ---------------------------- Fifth section ends ------------------------------- */

/* ---------------------------- Sixth section starts ------------------------------- */

.sixth-section {
    padding: 50px 15px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sixth-section-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.sixth-section-title {
    max-width: 90%;
    letter-spacing: 1.5px;
    font-size: 2.3rem;
    font-weight: 620;
    background: linear-gradient(to right, rgb(54, 54, 54), rgb(129, 129, 129));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.sixth-section-bottom {
    min-height: 400px;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sixth-section-bottom-cards-div {
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sixth-section-card {
    /* height: 290px; */
    width: 500px;
    position: absolute;
    z-index: 0;
    transition: all 0.3s ease-in-out;
    background-color: white;
    box-shadow: rgba(147, 147, 147, 0.4) 0px 1px 10px 1px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* gap: 20px; */
    padding: 40px 30px;
    text-align: center;
    letter-spacing: 1px;
    /* scale: 0.8; */
    filter: blur(3px);
}

.sixth-section-card>* {
    line-height: 1.5;
}

.sixth-section-card-desc {
    opacity: 0.6;
}

.sixth-section-card-title-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sixth-section-card-title {
    font-weight: 500;
    font-size: 1.15rem;
    opacity: 0.8;
}

.sixth-section-card-label {
    /* font-weight: 500; */
    font-size: 0.85rem;
    opacity: 0.7;
}

.sixth-section-card1 {
    /* background-color: #4c4c4c; */
    transform: translateX(-50%);
    scale: 0.8;
}

.sixth-section-card2 {
    /* background-color: pink; */
    z-index: 1;
    scale: 0.8;

}

.sixth-section-card3 {
    /* background-color: gray; */
    transform: translateX(50%);
    scale: 0.8;

}

.sixth-section-current-card {
    scale: 1;
    filter: none;
}

.sixth-section-bottom-buttons-div {
    border: 2px solid gray;
    width: 300px;
    position: absolute;
    bottom: 0px;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: none;
}

.sixth-section-bottom-buttons-div>img {
    border-radius: 50%;
}

/* ---------------------------- Sixth section ends ------------------------------- */